<section class="card is-flex  mt-6 column is-one-third mx-2 is-justify-content-center cardcolor2">
  <a href="/language/{{id}}">
    <header class="card-header card-header-title is-justify-content-center cardcolor">{{coding_lang}}</header>
    <img class="card-image is-justify-content-center"src="/images/{{filename}}">
  </a>
</section>