<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LFGG: Looking For Good Grades</title>
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>


<nav class="navbar headerbgc" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <a class="" href="/">
      <img src="/images/lfgglogo.png" width="150" height="150">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{#if loggedIn}}
    </div>

    <div>
      <div>
        <div class="navbar-end">
      <a href="/profile" class=" button loginbutton">Profile</a>
          <a id="logout" class="button loginbutton">Logout</a>
          {{else}}
          </div class="navbar-end">
          <a href="/login" class="button loginbutton">Log in</a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="columns is-flex-wrap-wrap is-justify-content-center bcg">
  {{{body}}}
</main>
</div>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>