<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LFGG</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>LFGG</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="" class="">Logout</button>
    {{else}}
    <a href="">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. In placeat consectetur quibusdam a voluptates et commodi amet laudantium illo ratione? Doloremque facere a quo repudiandae quibusdam, quae officiis quia repellendus.</h2>
    </aside>
  </main>
</body>