<section class="container">
  <h3 class="gallery-name">{{language-card.name}}</h3>
  <section class="flex-row justify-center">
    {{#each language-cards.language as |language|}}
    {{> study-time}}
    {{/each}}
  </section>
</section>