<section class="container">
  <h3 class="language-name">{{language.coding_lang}}</h3>
  <section class="flex-row justify-center">
    {{#each language.notes as |note|}}
    {{> study-time}}
    {{/each}}
  </section>
</section>