<section class="container">
  <h3 class="language-name has-text-centered mb-5">{{language.coding_lang}}</h3>
  <section class="flex-row justify-center">
    {{#each language.notes as |note|}}
    <section class="card">
      <a href="/notes/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">
          <img src="https://picsum.photos/200">
        </div>
      </a>
    </section>
    {{/each}}
  </section>
</section>